:root {
  --slategray: #253a5e;
  --lightgray: #818aa3;
  --darkgray: #313543;
  --darkergray: #1f222f;
  --haloblue: #91d9fa;
  --teagreen: #75a743;
  --teagreendark: #436a1d;
  --lemonchiffon: #de9e41;
  --lemonchiffondark: #b17b2a;
  --paledogwood: #d6dbe5;
  --darknessred: #a53030;
  --darknessredder: #841515;
}

/* Card album style */
.album {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* background: var(--darkergray); */
}

.bg-album {
  background: var(--darkergray);
}

/* Card top, middle, audio and bottom styles*/
.card {
  margin: 10px;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s ease;
  border: none;
  border-radius: 10px;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: box-shadow 0.2s ease-in-out;
  animation: reveal 1s ease 1s forwards;

  -webkit-user-select: none;
    user-select: none;
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card:hover {
  transform: translatey(-4px);
}

.card-active {
  box-shadow: 0px 0px 25px gold;
}

.card-top {
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-top h1 {
  margin-top: 5px;
  padding: 0 10px;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: white;
}
.card-middle {
  width: 100%;
  height: 150px;
  border: none;
  outline: none;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.audio-play i {
  color: white;
  transform: scale(1.4);
}
.card-audio {
  width: 100%;
  height: 40px;
  background: var(--darkergray);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.card-bottom {
  width: 100%;
  height: 70px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-bottom p {
  margin: 5px;
  text-align: center;
  font-size: 15px;
  color: white;
}

/* Card audioplayer style*/
.audio-volume,
.audio-mute,
.audio-stop {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.audio-volume {
  flex: 2;
  margin: 0 7px 0 10px;
}
.audio-mute {
  flex: 1;
  margin: 0 5px 0 5px;
  display: flex;
  justify-content: center;
}
.audio-mute i {
  color: white;
  transform: scale(1.1);
}
.audio-stop {
  flex: 1;
  margin: 0 12px 0 5px;
  display: flex;
  justify-content: center;
}
.audio-stop i {
  color: white;
  transform: scale(1.3);
}

/* Card audioplayer volume slider style*/
.audio-volume input {
  width: 110px;
  height: 10px;
  -webkit-appearance: none;
  background-color: transparent;
  position: relative;
  z-index: 99;
}
.audio-volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: gold;
  border-radius: 50%;
  cursor: pointer;
}
.audio-volume progress {
  width: 100px;
  height: 10px;
  -webkit-appearance: none;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
}
.audio-volume progress::-webkit-progress-bar {
  background: var(--darkgray);
}
.audio-volume progress::-webkit-progress-value {
  background: var(--paledogwood);
}

/* Card category colors */
.card-ambience {
  background-image: linear-gradient(to right bottom, var(--teagreen), var(--teagreendark));
}

.card-ambience-hover:hover {
  box-shadow: 0px 0px 25px var(--teagreen);
}

.card-music {
  /* background: var(--darkgray); */
  background-image: linear-gradient(to right bottom, var(--slategray), var(--darkgray));
}

.card-music-hover:hover {
  box-shadow: 0px 0px 25px var(--slategray);
}

.card-action {
  /* background: var(--lemonchiffon); */
  background-image: linear-gradient(to right bottom, var(--lemonchiffon), var(--lemonchiffondark));
}

.card-action-hover:hover {
  box-shadow: 0px 0px 25px var(--lemonchiffon);
}

.card-enemy {
  /* background: var(--darkness); */
  background-image: linear-gradient(to right bottom, var(--darknessred), var(--darknessredder));
}

.card-enemy-hover:hover {
  box-shadow: 0px 0px 25px var(--darknessred);
}

/* Card - Ambience - Beach */
#img-beach {
  background-image: url(./parts/image/beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-beach:hover {
  background-size: 160%;
}

/* Card - Ambience - Blizzard */
#img-blizzard {
  background-image: url(./parts/image/blizzard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-blizzard:hover {
  background-size: 160%;
}

/* Card - Ambience - Forest */
#img-forest {
  background-image: url(./parts/image/forest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-forest:hover {
  background-size: 160%;
}

/* Card - Ambience - Monster Lair */
#img-monster-lair {
  background-image: url(./parts/image/monster-lair.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-monster-lair:hover {
  background-size: 160%;
}

/* Card - Ambience - Rain */
#img-rain {
  background-image: url(./parts/image/rain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-rain:hover {
  background-size: 160%;
}

/* Card - Ambience - Swamp */
#img-swamp {
  background-image: url(./parts/image/swamp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-swamp:hover {
  background-size: 160%;
}

/* Card - Ambience - Tavern */
#img-tavern {
  background-image: url(./parts/image/tavern.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-tavern:hover {
  background-size: 160%;
}

/* Card - Ambience - Volcano */
#img-volcano {
  background-image: url(./parts/image/volcano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-volcano:hover {
  background-size: 160%;
}

/*  */

/*  */

/* Card - Music - Ambush */
#img-ambush {
  background-image: url(./parts/image/ambush.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-ambush:hover {
  background-size: 160%;
}

/* Card - Music - Desert Excursion */
#img-desert-excursion {
  background-image: url(./parts/image/desert-excursion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-desert-excursion:hover {
  background-size: 160%;
}

/* Card - Music - Dwarven City */
#img-dwarven-city {
  background-image: url(./parts/image/dwarven-city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-dwarven-city:hover {
  background-size: 160%;
}

/* Card - Music - Epic Fight */
#img-epic-fight {
  background-image: url(./parts/image/epic-fight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-epic-fight:hover {
  background-size: 160%;
}

/* Card - Music - Ethereal Plane */
#img-ethereal-plane {
  background-image: url(./parts/image/ethereal-plane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-ethereal-plane:hover {
  background-size: 160%;
}

/* Card - Music - Green Plains */
#img-green-plains {
  background-image: url(./parts/image/green-plains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-green-plains:hover {
  background-size: 160%;
}

/* Card - Music - Large City */
#img-large-city {
  background-image: url(./parts/image/large-city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-large-city:hover {
  background-size: 160%;
}

/* Card - Music - Long Rest */
#img-long-rest {
  background-image: url(./parts/image/long-rest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-long-rest:hover {
  background-size: 160%;
}

/* Card - Music - Magic Item Shop */
#img-magic-item-shop {
  background-image: url(./parts/image/magic-item-shop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-magic-item-shop:hover {
  background-size: 160%;
}

/* Card - Music - Mt Celestia */
#img-mt-celestia {
  background-image: url(./parts/image/mt-celestia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-mt-celestia:hover {
  background-size: 160%;
}

/* Card - Music - Mystery */
#img-mystery {
  background-image: url(./parts/image/mystery.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-mystery:hover {
  background-size: 160%;
}

/* Card - Music - Peaceful Village */
#img-peaceful-village {
  background-image: url(./parts/image/peaceful-village.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-peaceful-village:hover {
  background-size: 160%;
}

/* Card - Music - Sea Adventure */
#img-sea-adventure {
  background-image: url(./parts/image/sea-adventure.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-sea-adventure:hover {
  background-size: 160%;
}

/* Card - Music - Session Zero */
#img-session-zero {
  background-image: url(./parts/image/session-zero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-session-zero:hover {
  background-size: 160%;
}


/* Card - Action - Search */
#img-search {
  background-image: url(./parts/image/mystery.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-search:hover {
  background-size: 160%;
}

/* Card - Enemy - Acererak */
#img-necromancer {
  background-image: url(./parts/image/necromancer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  transition: background-size 1s ease;
  position: relative;
}
#img-necromancer:hover {
  background-size: 160%;
}
