* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  /* Apply a background color to this element. */
  background-color: dodgerblue;
}

header {
  z-index: 1000;
  position: sticky;
  top: 0;
}

.primary-nav {
  /* Apply a background color to the element. */
  background-color: #333138;
  /* Apply minimum height of the element. */
  min-height: 50px;
  /* Control the layout of child elements. */
  display: flex;
  /* Position items vertically center of the parent element. */
  flex-direction: row;
  /* Position the child elements to the end (right) of the element. */
  justify-content: center;
  align-items: center;
}

.primary-nav ul {
  margin: 5px;
  /* Control the layout of contained elements */
  display: flex;
  /* Force flex to row instead of column. */
  flex-direction: row;
}

.primary-nav li {
  /* Add margin to the list items contained within the parent element. */
  margin: 5px 5px;
  /* Remove bullet points on list. */
  list-style: none;
}

.primary-nav a {
  /* Apply a padding to the text. */
  padding: 5px 10px;
  /* Remove underline on text. */
  text-decoration: none;
  /* Assign color of text. */
  color: #009e60;
  /* Apply a background color. */
  background-color: #333138;
  /* Apply a border radius to the text. */
  border-radius: 5px;

  font-weight: 700;
}

.primary-nav a:hover {
  color: #87ffcb;

  background-color: #262525;
}

.pri-nav-left {
  /* Control the layout of child elements. */
  flex: 1;
  display: flex;
  /* Position items vertically center of the parent element. */
  align-items: center;
  justify-content: left;
  font-size: 16px;
}

.pri-nav-middle {
  /* Control the layout of child elements. */
  flex: 1;
  display: flex;
  justify-content: center;
  /* Position items vertically center of the parent element. */
  align-items: center;
  gap: 5px;
}

.pri-nav-middle input {
  padding: 5px;
  border-style: solid;
  background-color: #efeff1;
  border-color: white;
  border-radius: 5px;
  font-size: 16px;
  line-height: normal;
}

.pri-nav-middle input::placeholder {
  color: #9a9a9a;
}

.pri-nav-middle input:focus {
  background-color: white;
  outline: none;
}

.pri-nav-middle button {
  padding: 5px;
  border-style: solid;
  background-color: #efeff1;
  border-color: white;
  border-radius: 5px;
  height: 33px; /* set a fixed height */
  width: 33px;
}

.pri-nav-right {
  margin-right: 10px;
  /* Control the layout of child elements. */
  flex: 1;
  display: flex;
  justify-content: right;
  /* Position items vertically center of the parent element. */
  align-items: center;
}

.card-new {
  /* Control the layout of child elements. */
  display: flex;
  /* Position content each element to the horizontal center of parent element.*/
  justify-content: center;
  /* Position items vertically center of the parent element. */
  align-items: center;
  /* Apply a background color to this element. */
  background-color: #7cf0bd;

  box-shadow: 1px 1px 10px #43454379;
}

.card-new i {
  margin: 0 10px;
  padding: 0;
  font-weight: 700;
}

.card-new a {
  /* Apply a padding to the text. */
  padding: 5px 5px;
  /* Remove underline on text. */
  text-decoration: none;
  /* Apply a border radius to the text. */
  border-radius: 5px;
  font-weight: 700;
  color: black;
}

.card-new:hover {
  background-color: #7cf0bd;
}

.hero {
  /* height: 750px; */
  background: linear-gradient(to bottom, rgb(197, 15, 8), rgba(74, 0, 0, 0.9));
  box-shadow: 1px 1px 10px #43454379;
}

.sidekick {
  height: 750px;
  background-color: #7cf0bd;

  box-shadow: 1px 1px 10px #43454379;
}

.damsel {
  height: 750px;
  background-color: #eb5e28;

  box-shadow: 1px 1px 10px #43454379;
}

.crowd {
  height: 150px;
  background-color: #333138;
  box-shadow: 1px 1px 10px #43454379;
}

.album {
  padding: 20px;
  /* background-color: silver; */
}

.page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translatey(-4px);
}

.contents {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-image {
  width: 250px;
  height: 250px;
  border-radius: 10px 10px 0 0;
}

.card-name {
  user-select: none;
  margin-bottom: 210px;
  width: 100%;
  padding: 10px 0;
  border-radius: 10px 10px 0 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.card-desc {
  user-select: none;
  padding: 5px 10px;
  height: 60px;
  color: whitesmoke;
  border-radius: 0 0 10px 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.card-desc p {
  font-size: 16px;
  text-align: center;
}

.bg-music-name {
  background: linear-gradient(to right, rgba(255, 8, 0, 0.8), rgba(199, 0, 0, 0.5));
}

.bg-music-desc {
  background: linear-gradient(to right, rgba(255, 8, 0), rgba(199, 0, 0));
}

.bg-ambience-name {
  background: linear-gradient(to right, rgba(0, 158, 96, 0.8), rgba(16, 93, 16, 0.8));
}

.bg-ambience-desc {
  background: linear-gradient(to right, #009e60, #105d10);
}

.audio-options {
  margin-top: 214px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.audio-play {
  flex: 1;
  padding: 10px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
}

.audio-play:hover {
  opacity: 1;
}

.volume-slider {
  width: 100px;
  height: 10px;
  margin: 0 10px;
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling */
  height: 10px; /* Set the height of the slider */
  background: #f2f2f2; /* Set the background color of the slider track */
  border-radius: 5px; /* Set the border radius of the slider track */
  outline: none; /* Remove the outline */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  appearance: none;
  width: 20px; /* Set the width of the slider thumb */
  height: 20px; /* Set the height of the slider thumb */
  background: gold; /* Set the color of the slider thumb */
  border-radius: 50%; /* Set the border radius of the slider thumb */
  cursor: pointer; /* Set the cursor style */
}

.audio-mute {
  flex: 1;
  padding: 10px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
}

.audio-mute:hover {
  opacity: 1;
}

.audio-stop {
  flex: 1;
  padding: 10px;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
}

.audio-stop:hover {
  opacity: 1;
}

#img-ambush {
  background-image: url(/parts/image/ambush.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-ambush p:first-child {
  position: absolute;
  bottom: 0;
}

#img-ambush:hover {
  background-size: 210%;
}

#img-beach {
  background-image: url(/parts/image/beach.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-beach p:first-child {
  position: absolute;
  bottom: 0;
}

#img-beach:hover {
  background-size: 210%;
}

#img-desert-excursion {
  background-image: url(/parts/image/desert-excursion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-desert-excursion p:first-child {
  position: absolute;
  bottom: 0;
}

#img-desert-excursion:hover {
  background-size: 210%;
}

#img-green-plains {
  background-image: url(/parts/image/green-plains.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-green-plains p:first-child {
  position: absolute;
  bottom: 0;
}

#img-green-plains:hover {
  background-size: 210%;
}

#img-volcano {
  background-image: url(/parts/image/volcano.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-volcano p:first-child {
  position: absolute;
  bottom: 0;
}

#img-volcano:hover {
  background-size: 210%;
}

#img-large-city {
  background-image: url(/parts/image/large-city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-large-city p:first-child {
  position: absolute;
  bottom: 0;
}

#img-large-city:hover {
  background-size: 210%;
}

#img-sea-adventure {
  background-image: url(/parts/image/sea-adventure.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-sea-adventure p:first-child {
  position: absolute;
  bottom: 0;
}

#img-sea-adventure:hover {
  background-size: 210%;
}

#img-magic-item-shop {
  background-image: url(/parts/image/magic-item-shop.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-magic-item-shop p:first-child {
  position: absolute;
  bottom: 0;
}

#img-magic-item-shop:hover {
  background-size: 210%;
}

#img-blizzard {
  background-image: url(/parts/image/blizzard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-blizzard p:first-child {
  position: absolute;
  bottom: 0;
}

#img-blizzard:hover {
  background-size: 210%;
}

#img-dwarven-city {
  background-image: url(/parts/image/dwarven-city.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-dwarven-city p:first-child {
  position: absolute;
  bottom: 0;
}

#img-dwarven-city:hover {
  background-size: 210%;
}

#img-epic-fight {
  background-image: url(/parts/image/epic-fight.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-epic-fight p:first-child {
  position: absolute;
  bottom: 0;
}

#img-epic-fight:hover {
  background-size: 210%;
}

#img-ethereal-plane {
  background-image: url(/parts/image/ethereal-plane.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-ethereal-plane p:first-child {
  position: absolute;
  bottom: 0;
}

#img-ethereal-plane:hover {
  background-size: 210%;
}

#img-forest {
  background-image: url(/parts/image/forest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-forest p:first-child {
  position: absolute;
  bottom: 0;
}

#img-forest:hover {
  background-size: 210%;
}

#img-long-rest {
  background-image: url(/parts/image/long-rest.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-long-rest p:first-child {
  position: absolute;
  bottom: 0;
}

#img-long-rest:hover {
  background-size: 210%;
}

#img-monster-lair {
  background-image: url(/parts/image/monster-lair.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-monster-lair p:first-child {
  position: absolute;
  bottom: 0;
}

#img-monster-lair:hover {
  background-size: 210%;
}

#img-mt-celestia {
  background-image: url(/parts/image/mt-celestia.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-mt-celestia p:first-child {
  position: absolute;
  bottom: 0;
}

#img-mt-celestia:hover {
  background-size: 210%;
}

#img-mystery {
  background-image: url(/parts/image/mystery.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-mystery p:first-child {
  position: absolute;
  bottom: 0;
}

#img-mystery:hover {
  background-size: 210%;
}

#img-tavern {
  background-image: url(/parts/image/tavern.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-tavern p:first-child {
  position: absolute;
  bottom: 0;
}

#img-tavern:hover {
  background-size: 210%;
}

#img-peaceful-village {
  background-image: url(/parts/image/peaceful-village.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-peaceful-village p:first-child {
  position: absolute;
  bottom: 0;
}

#img-peaceful-village:hover {
  background-size: 210%;
}

#img-rain {
  background-image: url(/parts/image/rain.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-rain p:first-child {
  position: absolute;
  bottom: 0;
}

#img-rain:hover {
  background-size: 210%;
}

#img-swamp {
  background-image: url(/parts/image/swamp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 190%;
  transition: background-size 1s ease;
  position: relative;
}

#img-swamp p:first-child {
  position: absolute;
  bottom: 0;
}

#img-swamp:hover {
  background-size: 210%;
}
