html, body {
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #0f0f0f;
}

@font-face {
    font-family: "DungeonRadio";
    src: url("/parts/font/DragonHunter.otf") format("opentype");
  }

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    user-select: none;
}

.title img {
    margin: 10px;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    opacity: 1;
}

.title img:active {
    opacity: .5;
}

.collection {
    display: flex;
    flex-direction: column;
}

.collection h1 {
    color: red;
    text-align: center;
    font-family: "DungeonRadio", sans-serif;
    font-size: 50px;
}
 

.cards {
    margin: 0;
    padding: 10px;
    gap: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    height: 250px;
    background-color:red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: box-shadow 1s ease-in-out;
}

.card p {
    padding: 10px;
    width: 150px;
    font-size: 18px;
    font-weight:100;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    color: white;
    background-color: red;
    border-radius: 5px 0 0 5px;
    text-align: center;
    margin-top: auto;
    margin-left: auto;

    box-shadow: 5px 5px 10px black;
}

.ambience p {
    color: black;
    background-color: greenyellow;
}

.card:hover {
    animation: inspect ease-in .1s forwards;
}

@keyframes inspect {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateY(-2%);
    }
}

.card:active {
    animation: click ease-in-out .1s forwards;
}

@keyframes click {
    0% {
        transform: translateX(0%);
    }
    100% {
        opacity: .8;
        border-radius: 20px;
    }
}


#green-plains {
    background-image: url(/parts/image/green-plains.jpg);
    background-size: 180%;
}

#session-zero {
    background-image: url(/parts/image/session-zero.jpg);
    background-size: 180%;
}

#card3 {
    background-image: url(/parts/image/shadow-alley.jpg);
    background-size: 180%;
}

#beach {
    background-image: url(/parts/image/beach.jpg);
    background-size: 180%;
}

#sea-adventure {
    background-image: url(/parts/image/seaadventure.jpg);
    background-size: 180%;
}

#card6 {
    background-image: url(/parts/image/sewers.jpg);
    background-size: 180%;
}

#card7 {
    background-image: url(/parts/image/tavern.jpg);
    background-size: 180%;
}

#rain {
    background-image: url(/parts/image/rain.jpg);
    background-size: 180%;
}

#card9 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/peacefultravel.jpg);
    background-size: 180%;
}

#card10 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/etherealplane.jpg);
    background-size: 180%;
}

#card11 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/etherealplane.jpg);
    background-size: 180%;
}

#card12 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/monsterlair.jpg);
    background-size: 180%;
}

#card13 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/ship.jpg);
    background-size: 180%;
}

#card14 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/blizzard.jpg);
    background-size: 180%;
}

#card15 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/forest.jpg);
    background-size: 180%;
}

#card16 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/dwarvencity.jpg);
    background-size: 180%;
}

#card17 {
    background-image: url(/parts/image/magic-item-shop.jpg);
    background-size: 180%;
}

#card18 {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/volcano.jpg);
    background-size: 180%;
}

#epic-fight {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/epicfight.jpg);
    background-size: 180%;
}

#mt-celestia {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/music-mountcelestia.jpg);
    background-size: 180%;
}

#long-rest {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/music-longrest.jpg);
    background-size: 180%;
}

#wizard-tower {
    background-image: url(/ALL/Projects/dungeonRadio/_files/images/music-wizardtower.png);
    background-size: 180%;
}

#swamp {
    background-image: url(/parts/image/swamp.jpg);
    background-size: 180%;
}

@media screen and (max-width: 600px){
    
    body {
        background-color: white;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .title h1 {
        user-select: none;
    }
    
    .title img {
        margin: 10px;
        margin-left: 20px;
        width: 50px;
        height: 50px;
        opacity: 1;
    }
    
    .title img:active {
        opacity: .5;
    }
    
    .collection {
        display: flex;
        flex-direction: column;
    }
    
    .collection h1 {
        color: red;
        text-align: center;
        font-family: "DungeonRadio", sans-serif;
        font-size: 40px;
    }

    .cards {
        margin: 0;
        padding: 10px;
        gap: 10px;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
    }
    
    .card {
        max-width: 160px;
        max-height: 160px;
    }

}
